#ad{
    border: 5px solid black;
    font-size: 48px;
    color: bisque;
    background-color: black;
}

#ab{
    border:10px ;
    color: bisque;
    background-color: black;
    padding: 40px;


}

#az{
    border: 25px solid yellow;
    padding: 50px;

}